.btn-showMore {
    background-color: transparent;
    border-radius: 24px;
}

.btn-showMore:hover {
    background-color: rgba(34,34,34, 0.075);
}

.item-info-exchanges,
.item-info-returns,
.item-info-refunds,
.item-info-exceptions {
    color: rgb(34, 34, 34);
    font-size: 16px;
    font-weight: 300;
}

.item-info-description{
    overflow-wrap: break-word;
}

.truncated{
    min-height: 240px;
    max-height: 240px;
    /* min-height: 240px; */
    overflow: hidden;
}

/* .truncated:after{
    opacity: 1;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transition: opacity 200ms ease-in;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
    
} */